

body {
  background-color: #000;
  line-height: 1.2rem;
}

#console {
	font-family: courier, monospace;
	color: #fff;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	font-size: 16px;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
  color: #0f0;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op{
  color: #888888
}

.links {
  display: flex;
}

.links a {
  margin-left: 16px;
}

.links a:hover {
  animation: change 1s;
}

.links a:first-child {
  margin-left: 0;
}

@keyframes change {
  0%  { color:  #0bc; }
  50% { color:  #0bc; }
  99% { color: black; }
}

@media (max-width: 650px) {
  #console {
    max-width: 80vw;
    margin-top:32px;
  }
}

@media (min-width: 1500px) {
  #console {
    width: 60vw;
    font-size: 24px;
    line-height: 1.6rem;
  }
}